---
import Layout from '../../layouts/Layout.astro';
import { formatDate } from '../../config/config';
import { getCollection, render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const postEntries: CollectionEntry<'posts'>[] = await getCollection('posts');

  return postEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'posts'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout
  meta={{
    title: entry.data.title,
    description: entry.data.description,
    author: entry.data.author,
    image: entry.data.image?.url,
  }}
>
  <article>
    <h1>{entry.data.title}</h1>
    <p>
      {entry.data.author} - {formatDate(entry.data.pubDate)}
    </p>
    {
      entry.data.image && (
        <img src={entry.data.image.url} alt={entry.data.image.alt} />
      )
    }
    <Content />
  </article>
</Layout>
