---
import Layout from '@layouts/Layout.astro';
import { formatDate, getMeta } from '@config/config';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

interface Post {
  id: string;
  pubDate: string;
  title: string;
  description: string;
  author: string;
  image: {
    url: string;
    alt: string;
  };
}

const rawPosts = await getCollection('posts');

const sortedPosts = rawPosts.sort(
  (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const allPosts: Post[] = sortedPosts.map((post: CollectionEntry<'posts'>) => ({
  id: post.id,
  pubDate: formatDate(post.data.pubDate),
  ...getMeta(post.data, Astro.url),
}));
---

<Layout>
  lab
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/lab/${post.id}/`}>
            <h2>{post.title}</h2>
          </a>
          <p>{post.description}</p>
          <p>Published: {post.pubDate}</p>
          {post.image && <img src={post.image.url} alt={post.image.alt} />}
        </li>
      ))
    }
  </ul>
</Layout>
